:root {
 --blanco-titulo: #FFFFFF;
 --fondo-banner: #754ffe;
 --fondo-body: #f5f4f8;
 --gris-cards: #5c575c;
 --gris-sombra: #5c577650;
 --icono-color: #C28135;
 --icono-fondo: #FFEEDA;
 --negro-texto: #18113C;
 --texto-banner: #FFFFFF80;
 --tipografia: "Inter", sans-serif;
 --verde-boton: #19CB98;
 
}